.mb-0{
    margin-bottom: 0!important;
}
.mb-1{
    margin-bottom: 1rem!important;
}
.mb-2{
    margin-bottom: 2rem!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}
.my-auto{
    margin-left: auto;
    margin-right: auto;
}
.font-weight-normal{
    font-weight: 400;
}
.text-center{
    text-align: center;
}
.content-section{
    padding: 2rem 0;
}
/*Site header*/
.site-header{
    padding: rem(22px 0);
    text-align: center;
    background-color: #246f9d;
}
.main-content{
    overflow: hidden;
}
.site-footer{
    padding: rem(22px 0);
    text-align: center;
    font-size: 12px;
    ul{
	list-style: none;
	padding: 0;
	li{
	    display: inline-block;
	}
	li+li{
	    margin-left: 30px;
	}
    }
    a{
	text-decoration: underline;
    }
    .offer{
	margin: 20px 0;
    }
}
/**/
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 30px auto;
    width: 100%;
    max-width: 795px;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    padding: 50px 30px;
    .btn{
	margin-top: 30px;
	min-width: 250px;
    }
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: rgba($blue, .6);
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
select.form-control {
    appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.4 15.7' id='arrow_down'%3E%3Cpath fill='%234db0d0' d='M0 2l2-2 11.7 11.8L25.4 0l2 2-13.7 13.7L0 2'%3E%3C/path%3E%3C/svg%3E") calc(100% - 17px) 50%/13px no-repeat;
    padding-right: 40px;
}

.page-header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 795px;
    .sub-heading{
	font-size: rem(18px);
	font-weight: 700;
    }
    .arrow-wrp{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-100%,48%);
    }
}
.info-wrp{
    .box{
	display: flex;

    }
    .icon{
	flex: 0 0 50px;
	margin-right: 20px;
	color: $blue;
    }
    h4{
	margin-bottom: .5rem;
    }
}