@media (min-width: 480px) {
}
@media (min-width: 576px) {
    .container {
	max-width: 540px;
    }
}
@media (min-width: 768px){
    .h1, h1 {
	font-size: 40px;
    }
    .h2, h2 {
	font-size: 36px;
    }
    .h3, h3 {
	font-size: 24px;
    }
    .h4, h4 {
	font-size: 18px;
    }
    .container {
	max-width: 720px;
    }
    .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
    .content-section {
	padding: 3rem 0;
    }
}
@media (min-width: 1280px){
    .container {
	max-width: 1100px;
    }
}

@media (max-width: 767px){
}