img {
    max-width: 100%;
    height: auto;
}
//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $headings-margin-bottom;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $blue;
    //  font-family: $headings-font-fdamily;
}

h1, .h1 {
    font-size:$h1-font-size;
}
h2, .h2 {
    font-size:$h2-font-size;
}
h3, .h3 { font-size:$h3-font-size; }
h4, .h4 { font-size:$h4-font-size; }
h5, .h5 { font-size:$h5-font-size; }
h6, .h6 { font-size:$h6-font-size; }

.btn{
    display: inline-block;
    font-weight: 400;
    font-size: rem(24px);
    padding: rem(7px 30px);
    text-align: center;
    border-radius: 5px;
    box-shadow: none;
    border: 0 none;
    border-radius: 5px;
}
.btn-primary{
    background: linear-gradient(#FFA51F, #E08700);
    box-shadow: inset 0px 1px 0px #ffc36b, inset 0 -1px 2px #ad6800;
    text-shadow: 1px 1px #551f00;
    color: #fff;
    &:hover{
	background: linear-gradient(#E08700, #FFA51F);
	box-shadow: none;
    }
}
label {
    // Allow labels to use `margin` for spacing.
    display: inline-block;
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control {
    display: block;
    width: 100%;
    height: rem(49px);
    padding: rem(10px 16px);
    color: $black;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #d1d1d1;

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
	background-color: transparent;
	border: 0;
    }

    // Remove select outline from select box in FF
    &:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 $black;
    }

    // Placeholder
    &::placeholder {
	color: $gray-1;
	// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
	opacity: 1;
    }

}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #d1d1d1;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    &.form-control {
	appearance: none; // Fix appearance for date inputs in Safari
    }
}